* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: height 0.6s;
}
html {
  font-size: 62.5%;
  /* 因为100%=16px，1px=6.25%，所以10px=62.5%， */
}
html body {
  background-color: #FAFAFA;
}
html a {
  text-decoration: none;
  /* 去除默认的下划线 */
  color: transparent;
  /* 去除默认的颜色和点击后变化的颜色 */
}
.blur-filter {
  transition: all 0.6s;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.appear {
  transition: all 0.6s;
  z-index: 2;
  background: rgba(0, 0, 0, 0.25);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goto {
  font-style: italic;
  font-weight: bold;
  background-image: linear-gradient(to right, orange, purple);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.4rem;
}
.goto:hover {
  background-image: linear-gradient(to right, #ffb11f, #a408a4);
}
.nav {
  user-select: none;
  display: flex;
  padding: 3rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: #9e9e9e;
}
.nav div {
  margin: 0rem 1rem;
  transition: all 0.2s;
}
.nav :nth-child(1) {
  font-weight: bold;
  color: black;
}
.painting {
  user-select: none;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.painting div {
  margin-top: 20rem;
}
.painting div p {
  text-align: center;
}
.computer {
  user-select: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 1.6rem;
  padding: 1rem 2rem;
}
.computer .box1 {
  margin: 1rem;
  height: 19rem;
  width: 15rem;
  border-radius: 1.6rem;
}
.computer .box1 .github {
  background-color: #24292f;
  margin: 0rem;
  height: 19rem;
  width: 15rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
  text-align: center;
  font-size: 1.4rem;
  filter: brightness(95%);
}
.computer .box1 .github > div svg {
  width: 8rem;
  height: 8rem;
}
.computer .box1 .github > div > div {
  opacity: 0;
  display: none;
}
.computer .box1 .github > div > div p:nth-child(1) {
  margin: 1rem;
}
.computer .box1 .github > div > div p:nth-child(2) {
  font-style: italic;
  font-weight: bold;
  background-image: linear-gradient(to right, orange, purple);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.4rem;
}
.computer .box1 .github > div > div p:nth-child(2):hover {
  background-image: linear-gradient(to right, #ffb11f, #a408a4);
}
.computer .box1 .github:hover {
  filter: brightness(100%);
}
.computer .box1 .github.show {
  position: absolute;
  height: 30rem;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -15rem;
  z-index: 3;
}
.computer .box1 .github.show > div svg {
  width: 7rem;
  height: 7rem;
}
.computer .box1 .github.show > div > div {
  display: initial;
  opacity: 1;
}
.computer .box2 {
  margin: 1rem;
  height: 19rem;
  width: 15rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box2 .box2-1 {
  margin: 0rem;
  height: 12rem;
  width: 15rem;
  border-radius: 1.6rem;
}
.computer .box2 .box2-1 .docs {
  font-size: 1.4rem;
  background-color: #ffffff;
  margin: 0rem;
  height: 12rem;
  width: 15rem;
  border-radius: 1.6rem;
  text-align: center;
  border: #cbcbcb solid 0.1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.computer .box2 .box2-1 .docs .docslogo {
  width: 15rem;
}
.computer .box2 .box2-1 .docs .docslogo > div svg {
  width: 4rem;
  height: 4rem;
}
.computer .box2 .box2-1 .docs .docslogo > div > p {
  color: black;
  font-weight: bold;
}
.computer .box2 .box2-1 .docs .docslogo > p {
  color: #2d2d2d;
  display: none;
  opacity: 0;
}
.computer .box2 .box2-1 .docs .docslogo p:nth-child(3) {
  font-style: italic;
  padding-top: 1rem;
}
.computer .box2 .box2-1 .docs .opendocs {
  background-color: #006a9f;
  width: 0rem;
  height: 30rem;
}
.computer .box2 .box2-1 .docs.show {
  transition: height 0.7s;
  position: absolute;
  height: 20rem;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -10rem;
  z-index: 3;
  text-align: left;
}
.computer .box2 .box2-1 .docs.show .docslogo {
  padding: 3rem;
  width: 30rem;
}
.computer .box2 .box2-1 .docs.show .docslogo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  padding-bottom: 1rem;
}
.computer .box2 .box2-1 .docs.show .docslogo > div svg {
  width: 4rem;
  height: 4rem;
}
.computer .box2 .box2-1 .docs.show .docslogo > div > p {
  color: black;
}
.computer .box2 .box2-1 .docs.show .docslogo > p {
  display: inline-block;
  opacity: 1;
}
.computer .box2 .box2-1 .docs.show .opendocs {
  background-color: #015681;
  width: 2rem;
}
.computer .box2 .box2-2 {
  margin: 0rem;
  height: 6rem;
  width: 15rem;
  border-radius: 1.6rem;
  margin-top: 1rem;
}
.computer .box2 .box2-2 .yuque {
  font-size: 1.4rem;
  background-color: #ffffff;
  margin: 0rem;
  height: 6rem;
  width: 15rem;
  border-radius: 1.6rem;
  text-align: center;
  border: #cbcbcb solid 0.1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box2 .box2-2 .yuque img {
  width: 7rem;
}
.computer .box2 .box2-2 .yuque p {
  padding-top: 1rem;
  display: none;
  opacity: 0;
}
.computer .box2 .box2-2 .yuque a > p {
  font-style: italic;
  font-weight: bold;
  background-image: linear-gradient(to right, orange, purple);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.4rem;
}
.computer .box2 .box2-2 .yuque a > p:hover {
  background-image: linear-gradient(to right, #ffb11f, #a408a4);
}
.computer .box2 .box2-2 .yuque.show {
  transition: height 0.7s;
  position: absolute;
  height: 20rem;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -10rem;
  z-index: 3;
  padding: 3rem;
}
.computer .box2 .box2-2 .yuque.show p {
  display: block;
  opacity: 1;
}
.computer .box3 {
  margin: 1rem;
  height: 8rem;
  width: 15rem;
  border-radius: 1.6rem;
}
.computer .box3 .hexo {
  font-size: 1.4rem;
  background-color: #ffffff;
  margin: 0rem;
  height: 8rem;
  width: 15rem;
  border-radius: 1.6rem;
  border: #cbcbcb solid 0.1rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box3 .hexo img {
  width: 4rem;
}
.computer .box3 .hexo .hexologo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 0.5rem;
  transition: all 0s;
}
.computer .box3 .hexo .hexotext {
  display: none;
}
.computer .box3 .hexo .hexogo {
  display: none;
}
.computer .box3 .hexo .hexogo > a {
  color: #ffffff;
}
.computer .box3 .hexo .hexogo > a > div {
  height: 2.5rem;
  width: 5rem;
  border-radius: 2rem;
  background-color: #006a9f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.computer .box3 .hexo.show {
  transition: height 0.7s;
  position: absolute;
  height: 20rem;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -10rem;
  z-index: 3;
  padding: 3rem;
}
.computer .box3 .hexo.show img {
  width: 2.5rem;
}
.computer .box3 .hexo.show .hexologo {
  transition: all 0s;
}
.computer .box3 .hexo.show .hexotext {
  display: block;
}
.computer .box3 .hexo.show .hexogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}
.footer a {
  color: #303133;
  transition: all 0s;
}
.footer a:hover {
  color: #000000;
}
.footer a p {
  transition: all 0s;
}
