* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html body {
  background-color: #FAFAFA;
}
html body .nav {
  user-select: none;
  display: flex;
  padding: 3rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: #9e9e9e;
}
html body .nav div {
  margin: 0rem 1rem;
  transition: all 0.2s;
}
html body .nav :nth-child(1) {
  font-weight: bold;
  color: black;
}
html body .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}
html body .footer a {
  color: #303133;
  transition: all 0s;
}
html body .footer a:hover {
  color: #000000;
}
html body .footer a p {
  transition: all 0s;
}
html a {
  text-decoration: none;
  color: black;
}
html p {
  margin: 0.6rem 0rem;
}
.blur-filter {
  transition: all 0.6s;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.appear {
  transition: all 0.6s;
  z-index: 2;
  background: rgba(0, 0, 0, 0.25);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.goto {
  font-style: italic;
  font-weight: bold;
  background-image: linear-gradient(to right, orange, purple);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.4rem;
}
.goto:hover {
  background-image: linear-gradient(to right, #ffb11f, #a408a4);
}
.buttongo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2rem;
  background-color: #006a9f;
}
.border {
  border: #cbcbcb solid 0.1rem;
}
.painting {
  user-select: none;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.painting div {
  margin-top: 20rem;
}
.painting div p {
  text-align: center;
}
.computer {
  user-select: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem 2rem;
}
.computer .box1 {
  margin: 1rem;
  height: 19rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: transparent;
  color: black;
}
.computer .box1 .title {
  font-weight: bold;
}
.computer .box1 .github {
  margin: 0rem;
  height: 19rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: #24292f;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box1 .github .title {
  font-weight: normal;
}
.computer .box1 .github .icon {
  width: 8rem;
  height: auto;
}
.computer .box1 .github .detail {
  display: none;
}
.computer .box1 .github.show {
  position: absolute;
  height: auto;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -15rem;
  z-index: 3;
  padding: 3rem 2rem;
}
.computer .box1 .github.show .icon {
  width: 7rem;
  height: auto;
}
.computer .box1 .github.show .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box2 {
  margin: 1rem;
  height: 19rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box2 .title {
  font-weight: bold;
}
.computer .box2 .box2-1 {
  margin: 0rem;
  height: 12rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
  color: black;
}
.computer .box2 .box2-1 .title {
  font-weight: bold;
}
.computer .box2 .box2-1 .docs {
  margin: 0rem;
  height: 12rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: #cbcbcb solid 0.1rem;
}
.computer .box2 .box2-1 .docs .title {
  font-weight: bold;
}
.computer .box2 .box2-1 .docs .icon {
  width: 4rem;
  height: auto;
}
.computer .box2 .box2-1 .docs .detail {
  display: none;
}
.computer .box2 .box2-1 .docs.show {
  position: absolute;
  height: auto;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -15rem;
  z-index: 3;
  padding: 3rem 2rem;
}
.computer .box2 .box2-1 .docs.show .icon {
  width: 3rem;
  height: auto;
}
.computer .box2 .box2-1 .docs.show .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box2 .box2-2 {
  margin-top: 1rem;
  margin: 0rem;
  height: 6rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: transparent;
  color: black;
}
.computer .box2 .box2-2 .title {
  font-weight: bold;
}
.computer .box2 .box2-2 .yuque {
  margin: 0rem;
  height: 6rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: #cbcbcb solid 0.1rem;
}
.computer .box2 .box2-2 .yuque .title {
  font-weight: bold;
}
.computer .box2 .box2-2 .yuque .icon {
  width: 7rem;
  height: auto;
}
.computer .box2 .box2-2 .yuque .detail {
  display: none;
}
.computer .box2 .box2-2 .yuque.show {
  position: absolute;
  height: auto;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -15rem;
  z-index: 3;
  padding: 3rem 2rem;
}
.computer .box2 .box2-2 .yuque.show .icon {
  width: 7rem;
  height: auto;
}
.computer .box2 .box2-2 .yuque.show .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box3 {
  margin: 1rem;
  height: 8rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: transparent;
  color: black;
}
.computer .box3 .title {
  font-weight: bold;
}
.computer .box3 .hexo {
  margin: 0rem;
  height: 6rem;
  width: 15rem;
  border-radius: 1.6rem;
  background-color: #ffffff;
  color: black;
  border: #cbcbcb solid 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.computer .box3 .hexo .title {
  font-weight: bold;
}
.computer .box3 .hexo .icon {
  width: 4rem;
  height: auto;
}
.computer .box3 .hexo .detail {
  display: none;
}
.computer .box3 .hexo.show {
  position: absolute;
  height: auto;
  width: 30rem;
  left: 50%;
  top: 50%;
  margin-left: -15rem;
  margin-top: -15rem;
  z-index: 3;
  padding: 3rem 2rem;
}
.computer .box3 .hexo.show .icon {
  width: 3rem;
  height: auto;
}
.computer .box3 .hexo.show .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
